/* See https://www.w3schools.com/howto/howto_css_image_text.asp */

.banner-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.banner-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
