.layout-50-50 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 50%
}

.layout-30-70 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30% 70%
}

.layout-70-30 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 70% 30%
}

